{% extends 'dashboard/layouts/login.html' %}
{% load static %}

{% block title %} Listings {% endblock %}

{% block seo %} {% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static 'libs/summernote/summernote-lite.min.css' %}">
{% endblock %}

{% block content %}
<nav aria-label="breadcrumb" class="border-bottom px-3 py-2">
    <ol class="breadcrumb m-0">
        <li class="breadcrumb-item">
            <a href="/dashboard/" class="text-decoration-none text-dark">Home</a>
        </li>
        <li class="breadcrumb-item">
            <a href="/dashboard/listing/" class="text-decoration-none text-dark">Listings</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">All</li>
    </ol>
</nav>
<section class="overflow-auto h-100">
    <table class="table table-card  mb-0 font-12">
        <thead class="bg-light">
            <tr>
                <th class="px-4 border-bottom text-uppercase text-muted" scope="col">ID</th>
                <th class="border-bottom text-uppercase text-muted" scope="col">Image</th>
                <th class="border-bottom text-uppercase text-muted" scope="col">Name</th>
                <th class="border-bottom text-uppercase text-muted" scope="col">Beds</th>
                <th class="border-bottom text-uppercase text-muted" scope="col">Baths</th>
                <th class="border-bottom text-uppercase text-muted" scope="col">Price</th>
                <th class="border-bottom text-uppercase text-muted" scope="col">Status</th>
                <th class="border-bottom text-uppercase text-muted" scope="col">Created by</th>
                <th class="border-bottom text-uppercase text-muted" scope="col">Created at</th>
                <th class="border-bottom text-uppercase text-muted" scope="col">Updated at</th>
                <th class="px-3 border-bottom text-uppercase text-muted" scope="col">Actions</th>
            </tr>
        </thead>
        <tbody id="data" class="font-12"></tbody>
    </table>
</section>
{% endblock %}


{% block modals %}
<div class="offcanvas offcanvas-end" tabindex="-1" id="createupdateform">
    <form class="h-100 d-flex flex-column modalForm" autocomplete="off" method="post" enctype="multipart/form-data">
        <div class="offcanvas-header border-bottom">
            <h5 class="offcanvas-title d-flex align-items-center" id="modelTitle">

            </h5>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body h-100">
            <div id="hiddenFields"></div>
            <div class="form-group mb-3">
                <label class="font-weight-bolder mb-0" for="purpose"><b>Purpose</b></label>
                <select id="purpose" name="purpose"
                    class="form-select shadow-none border form-control-lg font-14"></select>
            </div>
            <div class="form-group mb-3">
                <label class="font-weight-bolder mb-0" for="name"><b>Name</b></label>
                <input class="form-control shadow-none border form-control-lg font-14" id="name" type="text" />
            </div>
            <div class="form-group mb-3">
                <label class="font-weight-bolder mb-0" for="description"><b>Description</b></label>
                <textarea id="description"></textarea>
            </div>
            <div class="form-group mb-3">
                <label class="font-weight-bolder mb-0" for="image"><b>Image</b></label>
                <label class="mb-0 btn border w-100 btn-light bg-white font-14" for="image">
                    <input class="form-file-input" id="image" type="file" accept="image/*" onchange="loadFile(event)"
                        hidden /> <span class="bx bx-upload mr-2"></span> Upload
                </label>
                <img id="output" class="rounded my-2 d-inline-block w-25 h-25">
            </div>
            <div class="form-group mb-3">
                <label class="font-weight-bolder mb-0" for="address"><b>Address</b></label>
                <input class="form-control shadow-none border form-control-lg font-14" id="address" type="text" />
            </div>
            <div class="form-group mb-3">
                <label class="font-weight-bolder mb-0" for="price"><b>Price</b></label>
                <input class="form-control shadow-none border form-control-lg font-14" id="price" type="text" />
            </div>
            <div class="form-group mb-3">
                <label class="font-weight-bolder mb-0" for="bedroom"><b>Bedrooms</b></label>
                <input class="form-control shadow-none border form-control-lg font-14" id="bedroom" type="text" />
            </div>
            <div class="form-group mb-3">
                <label class="font-weight-bolder mb-0" for="bathroom"><b>Bathrooms</b></label>
                <input class="form-control shadow-none border form-control-lg font-14" id="bathroom" type="text" />
            </div>
            <div class="form-group mb-3">
                <label class="font-weight-bolder mb-0" for="square_feet"><b>Square ft</b></label>
                <input class="form-control shadow-none border form-control-lg font-14" id="square_feet" type="text" />
            </div>
            <div class="form-group mb-3">
                <label class="font-weight-bolder mb-0" for="is_active"><b>Active</b></label>
                <select id="is_active" name="is_active"
                    class="form-select shadow-none border form-control-lg font-14"></select>
            </div>
        </div>
        <div class="offcanvas-footer d-flex p-3 py-2 border-top bg-light">
            <button class="btn btn-primary btn-submit w-50 font-12 me-2" id="btnsubmit"
                type="submit"><b>Proceed</b></button>
            <button class="btn btn-light border w-50  font-12 ms-2" data-bs-dismiss="offcanvas"
                type="button"><b>Cancel</b></button>
        </div>
    </form>
</div>
{% endblock %}

{% block scripts %}
<!-- Modules -->
<script src="{% static 'modules/dashboard/listing/index.js' %}"></script>
<script src="{% static 'modules/dashboard/listing/listing.js' %}"></script>
<script src="{% static 'modules/dashboard/listing/create.js' %}"></script>
<script src="{% static 'modules/dashboard/listing/update.js' %}"></script>
<script src="{% static 'modules/dashboard/listing/view.js' %}"></script>
<script src="{% static 'modules/dashboard/listing/delete.js' %}"></script>

<!-- Plugins -->
<script src="{% static 'libs/summernote/summernote-lite.min.js' %}"></script>

<!-- Configuration -->
<script src="{% static 'js/dashboard/image.js' %}"></script>
<script src="{% static 'js/dashboard/wysiwyg.js' %}"></script>
{% endblock %}