{% extends 'website/layouts/primary.html' %}

{% load static %}

{% block title %} Password recovery - {% endblock %}

{% block seo %} {% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{% static 'css/website/pages/account/stylesheet.css' %}">
{% endblock %}


{% block content %}
<main class="content bg-light bg">
    <section class="form-container">
        <form id="recover" autocomplete="on" class="form-card form-card-40">
            <div class="form-header t-center">
                <h1 class="heading">Change password.</h1>
                <p class="sub-heading">Create a new password for your account</p>
            </div>
            <div class="form-body">
                <div class="form-group">
                    <label for="password" class="form-label">
                        <span class="bx bx-lock icon"></span>New password
                        <span class="required">*</span>
                    </label>
                    <input type="password" class="input-field" id="password" name="password"
                        placeholder="Create new password...">
                </div>
                <div class="form-group">
                    <label for="password1" class="form-label">
                        <span class="bx bx-lock icon"></span>Confirm password
                        <span class="required">*</span>
                    </label>
                    <input type="password" class="input-field" id="password1" name="password1"
                        placeholder="Confirm password...">
                </div>
                <input type="hidden" id="tok" value="{{ token }}">
                <input type="hidden" id="uid" value="{{ uid }}">
            </div>
            <div class="form-footer btn-group t-center">
                <button class="btn btn-l btn-b btn-p" id="btnsubmit">Change</button>
            </div>
        </form>
    </section>
</main>
{% endblock %}


{% block scripts %}
<!-- Modules -->
<script src="{% static 'modules/website/account/recover/index.js' %}"></script>
{% endblock %}